<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Apply leave</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
       <div class="row">
        <div class="col-md-6">
            <h3>Select Day</h3>
        </div>
        <div class="col-md-6">
           <h3>Select Duration</h3>
           <div class="row">
            <form action="" class="form">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" name="" id="" placeholder="Full day" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="" id="" placeholder="half day" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <h3>comments</h3>
                    <textarea name="" id="" cols="20" rows="5" class="form-control" placeholder="Add message"></textarea>
                </div>
                <div class="row">
                    <input type="text" name="" id="" class="form-control mt-3" placeholder="Add attachment(optional)">

                </div>
            </form>
            
            <div class="row">
                <h3>Leave Summay</h3>
            </div>
           </div>
        </div>
       </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-add" data-bs-dismiss="modal">Confirm and Apply</button>

          <button type="button" class="btn btn-closer" data-bs-dismiss="modal">cancel</button>

        </div>
      </div>
    </div>
  </div>
