@import '../../../styles.scss';

*, :before, :after{ box-sizing: border-box; }
// FONTS

// COLORS


// REUSABLE STYLES
.unstyled{ list-style: none; padding: 0; margin: 0;
  a{ text-decoration: none; }
}
.list-inline{ overflow: hidden;
  li{ align-items: center;
justify-content: center; }
}

// HEADER STYLES
.header{
  position: fixed;
  left: 0; top: 0; bottom: 0;
  width: 17.5em;
  background: #F4F4F7;
}

.logo{
  text-transform: lowercase;
 
  text-align: center;
  padding: 0; margin: 0;
  
  a{
    display: block;
    padding: 1em 0;
    text-decoration: none;
    transition: .15s linear color;
    
    &:hover{
      
    }
  }
  
  span{
    font-weight: 500;
    transition: .15s linear color;
  }
}

// MAIN NAV
.main-nav{
  
  ul{
   
  }
  
  li{
   
  }
  
  a{
    padding: 1.1em 0;
   
    &:hover{
     
    }
  }
}

// SOCIAL LINKS
.social-links{
 
  
  li{
    width: 25%;
    &:first-child{ border: none; }
  }
  
  a{
    display: block;
    height: 5.5em;
    text-align: center;
    &:hover{
    }
  }
}

// HOVER SLIDE EFFECT
.list-hover-slide{
  
  li{
    position: relative;
    overflow: hidden;
  }
  
  a{
    display: block;
    position: relative;
  color: black;
    padding-left: 66px;
    font-weight: 500;
    
    &:before:hover{
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      left: -100%; top: 0;
      width: 100%; height: 100%;
   color: #F4F4F7;
      transition: .35s ease left;
    }
    
    &.is-current,
    &:hover{
      
      &:before{
        left: 0;
      }
    }
  }
}

.bottom-btn{
  display: inline-grid;
  align-items: flex-end;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 250px;
  margin-left: 52px;
}

.btn{
  padding: 15px 35px 15px 35px;
  border: none;
  border-radius: 50px;
  background-color: #C083FA;
  color: black;
  font-weight: 500;
}
.btn-closer{
  padding: 15px 35px 15px 35px;
    border: none;
    border-radius: 10px;
    background-color: #f4f4f7;
    color: black;
    width: 100%;
    font-weight: 500;
}

.bottom-text{
  color: black;
  margin-left: 50px;
  margin-top: 20px;
}


.btn:hover{
  background-color: #F4F4F7;
  color: #C083FA;
}
 
.modal-content{
  width: 708px;
  margin-top: 165px;
}

.btn-position{
  top: 104px;
  left: 116px;
  padding: 5px 15px 5px 15px;
}

.hover-button {
  display: none;
}

.grid-box:hover .hover-button {
  display: inline-block;
 
  
}
.row.grid-box{
  align-items: center;
  justify-content: center;
}

.col:hover{
  border: 2px solid #C083FA;
}


#exampleModal{
  backdrop-filter: blur(1px);
}

// leave allocation


span.box{
  display: flex;
  flex-direction: column;
  font-weight: 500;

}

.col-sm-3{
  display: flex;
  align-items: normal;
  justify-content: center;
}

.col{
  background-color: #f4f4f7;
  border-radius: 10px;
  max-height: 250px;
  height: 100%;
  padding: 10px;
  margin: 5px;

}

.small-text{
  font-size: 12px;
  
}
.small-text-row {
  align-items: center;
 
}

span.d {
  vertical-align:sub;
  font-size: 12px;
}

.days{
  font-size: 25px;
  font-weight: 400;
}  

h3{
  font-weight: 900;
  font-size: 18px;
}

.btn-close{
  margin-right: 10px;
  background-color: #f4f4f7;
  padding: 20px;
  border-radius: 50%;
}

.modal-title{
  font-weight: 900;
}