<header class="header" role="banner">
    <h1 class="logo">
      <a href="#"> <img src="../../../assets/Rootcode_io_home_page_9cb4b47132-removebg-preview.png" alt="logo-img" class="img-fluid" width="160" height="90"></a>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
          <li> <a href="#" class="nav-link action"><img src="../../../assets/dashboard-1.png" alt="" height="16" width="16" class="img-fluid"> Dashboard</a></li>
          <li> <a href="#"> <img src="../../../assets/stopwatch-1.png" alt="" height="16" width="16" class="img-fluid"> Leaves</a></li>
          <li>  <a href="#"> <img src="../../../assets/settings-1.png" alt="" height="16" width="16" class="img-fluid"> Setting</a></li>    
        </ul>

       
      </nav>
      <div class="bottom-btn">
        <button class="btn btn-success">Apply leave  <img src="../../../assets/right-arrow (1).png" alt="" height="16" width="16" style="padding-left: 5px;"></button>
        <a class="bottom-text" href="#">Get help</a>
      </div>
     
     
    </div>
  </header>


  