.custom-day {
    text-align: center;
    padding: 0.1rem 0.1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
    background-color: purple;
    color: white;
    border-radius: 50%;
}
.custom-day.faded {
    background-color: rgba(128, 0, 128, 0.237);
}


    ngb-datepicker {
        border: none;
        border-radius: 0.25rem;
        display: grid;
        // justify-content: space-around;
      width: 100%;
        }

        .ngb-dp-header {
            color: purple;
          }
          
          .ngb-dp-arrow-btn {
            color: purple;
          }



    /* Apply custom styles to the NgbDatepicker component */
::ng-deep .ngb-dp-header {
    // background-color: red !important;
    color: white;
    font-weight: bold;
  }
  
  ::ng-deep .ngb-dp-day, ::ng-deep .ngb-dp-month, ::ng-deep .ngb-dp-year {
    color: black !important;
   margin-left: 15px;
   margin-bottom: 5px;
  }
  
  ::ng-deep .ng-dp-week{
    margin-bottom: 10px !important;
  }

 

//   /* Customize the selected date */
//   ::ng-deep .ngb-dp-day.is-selected {
//     background-color: red;
//     color: white;
//   }
  
//   /* Customize the hovered date */
//   ::ng-deep .ngb-dp-day.is-hovered {
//     background-color: #f0f0f0;
//   }
  
//   /* Customize the disabled days */
//   ::ng-deep .ngb-dp-day.is-disabled {
//     color: #ccc;
//   }
  
//   /* Customize the calendar navigation buttons */
//   ::ng-deep .ngb-dp-arrow-btn {
//     color: red;
//     position: absolute
//   }
  