<!-- <div class="container">
  <div class="graph-main">
    <div class="row ">
      <div class="col">
        <div>
         <canvasjs-chart [options]="chartOptions" [styles]="{width: '550px', height:'253px',fontSize:'18px', fontWeight:200, paddingTop:'10px', background:'#f4f4f7', maxWidth:'100%'}"></canvasjs-chart>
          </div>
      </div>
      <div class="col">
        <div class="row member-row">
          <div class="row">
            <h3 class="member-heading">
              Current avilability <span>12th november</span>
            </h3>
          </div>
          <div class="row">
            <h4>COMPANY</h4>
            <div class="num">
              <h2>
                45<span class="num-span online">online</span> 12
                <span class="num-span away">Away</span>
              </h2>
            </div>
          </div>
          <div class="bottom-border"></div>
          <div class="row team-row">
            <h4 class="member-heading">TEAM <span> Team: Design team</span></h4>
            <div class="num parent">

              <h2>
                45<span class="num-span online ">online</span>
              </h2>
              
                <div class="flotting-img">
                    <img class="child child-1" src="../../../assets/woman.png" alt="" />
                    <img class="child child-2"
                      src="../../../assets/woman.png"
                      alt=""
                    />
                    <img class="child child-3" src="../../../assets/woman.png" alt="" />
                    <img class="child child-4"
                      src="../../../assets/woman.png"
                      alt=""
                    />
                    <span class="num-span away child child-5 ">4 members away</span>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <canvasjs-chart
            [options]="chartOptions1"
            [styles]="{ width: '1213px', height: '200px', paddingTop:'10px', maxWidth:'100%' }"
          ></canvasjs-chart>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="container">
  <div class="graph-main">
    <div class="row ">
      <div class="col">
        <div>
         <!-- <canvasjs-chart [options]="chartOptions" [styles]="{width: '550px', height:'253px',fontSize:'18px', fontWeight:200, paddingTop:'10px', background:'#f4f4f7', maxWidth:'100%'}"></canvasjs-chart> -->
         <!-- <div id="container"></div> -->
      
         <app-line-chart></app-line-chart>
        </div>
      </div>
      <div class="col">
        <div class="row member-row">
          <div class="row">
            <h3 class="member-heading">
              Current avilability <span>12th november</span>
            </h3>
          </div>
          <div class="row">
            <h4>COMPANY</h4>
            <div class="num">
              <h2>
                45<span class="num-span online">online</span> 12
                <span class="num-span away">Away</span>
              </h2>
            </div>
          </div>
          <div class="bottom-border"></div>
          <div class="row team-row">
            <h4 class="member-heading">TEAM <span> Team: Design team</span></h4>
            <div class="num parent">

              <h2>
                45<span class="num-span online ">online</span>
              </h2>
              
                <div class="flotting-img">
                    <img class="child child-1" src="../../../assets/woman.png" alt="" />
                    <img class="child child-2"
                      src="../../../assets/woman.png"
                      alt=""
                    />
                    <img class="child child-3" src="../../../assets/woman.png" alt="" />
                    <img class="child child-4"
                      src="../../../assets/woman.png"
                      alt=""
                    />
                    <span class="num-span away child child-5 ">4 members away</span>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <!-- <canvasjs-chart
            [options]="chartOptions1"
            [styles]="{ width: '1213px', height: '250px', paddingTop:'10px', maxWidth:'100%' }"
          ></canvasjs-chart> -->
          <h5>Leave type breakdown</h5>
<div id="chart-column"></div>

        </div>
      </div>
    </div>
  </div>
</div>