<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
    
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item bell">
            <a class="nav-link active" aria-current="page" href="#" style="padding-left: 0; margin-right: 10px;"><img src="../../../assets/bell.png" alt="" width="20" height="20" class="img-fluid"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" ><img src="../../../assets/woman-128.png" alt="user" width="35" height="35" class="img-fluid"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  style="font-weight: 600;">Lesil Alexander  <p style="font-weight: 400;">UI/UX Designer</p> </a>
            
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 13px;">
              Employee View
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin">Admin view</a></li>
              <li><a class="dropdown-item" href="">Employee view</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
