.container-fluid{
    padding-top: 20px;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end !important;
    display: flex!important;
    flex-basis: auto;
    margin-right: 130px;
   
}

.navbar-expand-lg .navbar-nav{
    flex-direction: row;
    background: #f4f4f7;
    border-radius: 56px;
    padding: 15px 25px 15px 25px;
    width: 100%;
    max-width: 450px;
    align-items: center;
    max-height: 55px;
    justify-content: space-around;
}

p{
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.dropdown-item:hover{
    background-color: #83c9b67a;
    border-radius: 5px;
    color: black;
  }