


        
          <div class="container">
            <div class="row main">   
                <div class=" col-9">
                    <div class="row">
                        <h3 class=""> Leave Allocation </h3>
                        <div class="col">
                            <div class="row">
                                <div class="col-sm-9 ">
                                    <span class="box">Casual Leaves</span>
                                    <span class="days">2</span><span class="d" width="1" height="1">/7</span>
                              <span class="small-text box">Available</span>
                                </div>
                              <div class="col-sm-3">
                                <img src="../../../assets/schedule.png" alt="calender" height="16" width="16">
                              </div>
                            </div>
                           
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-sm-9 ">
                                    <span class="box">Annual Leaves</span>
                                    <span class="days">1</span><span class="d" width="1" height="1">/7</span>
                              <span class="small-text box">Available</span>
                                </div>
                              <div class="col-sm-3">
                                <img src="../../../assets/coconut-tree.png" alt="calender" height="16" width="16">
                              </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-sm-9 ">
                                    <span class="box">Medical Leaves</span>
                                    <span class="days">6</span><span class="d" width="1" height="1">/7</span>
                              <span class="small-text box">Available</span>
                                </div>
                              <div class="col-sm-3">
                                <img src="../../../assets/medical.png" alt="calender" height="16" width="16">
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col">
                            <div class="row">
                                <div class="col-sm-9 ">
                                    <span class="box">Accedamic Leaves</span>
                                    <span class="days">1</span><span class="d" width="1" height="1">/7</span>
                              <span class="small-text box">Available</span>
                                </div>
                              <div class="col-sm-3">
                                <img src="../../../assets/graduation-hat.png" alt="calender" height="16" width="16">
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="row">
                                <div class="col-sm-9 ">
                                    <span class="box">Custom Leaves</span>
                                    <span class="days">7</span><span class="d" width="1" height="1">/7</span>
                              <span class="small-text box">Available</span>
                                </div>
                              <div class="col-sm-3">
                                <img src="../../../assets/hand.png" alt="calender" height="16" width="16">
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
            </div>
          </div>