<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
 
    <div class="modal-content">
      <div class="modal-header">
       
        <h1 id="exampleModalLabel" class="modal-title fs-5">
          <div style="display: flex; justify-content: space-between;">
            <img src="../../../assets/party.png" alt="emoji" width="20" height="20">

            <button 
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
            class="btn-close"
          ></button> 
          </div>

        Permission Changed Successfully
        </h1>
       
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
                <p style="font-size: 15px; font-weight: 500;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio architecto excepturi.</p>
              <div class="row"><div class="successfully-admin">
                <span class="admin-change">change to admin by <span><img src="../../../assets/woman-128.png" alt="" width="30" height="30"> Lishni</span><span>On</span> <span>date</span><span class="change">jan 22 2023</span> </span>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal" class="btn btn-add">
    
          Proceed to home <img src="../../../assets/right-arrow (1).png" alt="" height="16" width="16" style="padding-left: 5px;"></button
        >
     
      </div>
    </div>
  </div>
</div>